*{
  font-family: 'Source Sans Pro', sans-serif;
}

navbar{
  background-color: #003BSC;
}

navbar a{
  padding: 15px;
}

li{
  font-size: 17px;
  padding: 6px 2px;
  display: inline;
  padding-left: 15px;
  padding-top: 25px;
}
